@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(26 26 36/1);
  --bgcustom: rgb(43 43 59/1);
  --bgcustomhover: rgb(48 48 64/1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(26 26 36/1);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
